

@media screen and (max-width: 968px){
    .main-container {
        display: flex;
        flex-direction: column-reverse;
           
    }
    .profile-img{
        margin-bottom: 3rem;
        width: 75%;
    }
    .intro{
        width: 100%;
    }
    .bio-container{
        display: flex;
        flex-direction: column;
        .bio {
            width: 100%;
            margin-bottom: 1.5rem;
        }
        .services{
            width: 100%;
        }
    }

}
@media screen and (min-width: 969px) {
    .intro{
        align-self: center;
        width: 45%;
    }

}